In [7]:
import pandas as pd
from pathlib import Path

In [80]:
pd_dataset = pd.read_csv("TempDescriptions.txt",delimiter="\t",encoding='ISO-8859-1')
ds = pd_dataset.values
print(ds.shape)

(158915, 2)

In [81]:
pd_dataset.head()

           images                                           captions
0  1000092795.jpg  two young guys with shaggy hair look at their ...
1  1000092795.jpg  two young white males are outside near many bu...
2  1000092795.jpg       two men in green shirts are standing in yard
3  1000092795.jpg               man in blue shirt standing in garden
4  1000092795.jpg              two friends enjoy time spent together

In [82]:
pd_dataset.columns

Index(['images', 'captions'], dtype='object')

In [83]:
new_data = pd_dataset.drop(['captions'],axis=1)

In [84]:
new_data.head()

           images
0  1000092795.jpg
1  1000092795.jpg
2  1000092795.jpg
3  1000092795.jpg
4  1000092795.jpg

In [87]:
new_data.to_csv("Descriptions_train.csv",index=False)

In [88]:
df1 = pd.read_csv("Descriptions_train.csv")
df1.head()

           images
0  1000092795.jpg
1  1000092795.jpg
2  1000092795.jpg
3  1000092795.jpg
4  1000092795.jpg

In [69]:
# Load data
path = Path("C:\\Users\Harsh\Desktop\Minor Project\Code\Flickr30k")
print(path)
#images_dir = os.listdir(path)

#images_path = "C:\\Users\Harsh\Desktop\Minor Project\Code\Automated Caption generator\Flickr_Data\Images/"
captions_path = path / "flickr30k_results.txt"
train_path = path / "temp.txt"
#val_path = path / "Flickr_Data/Flickr_TextData/Flickr_8k.devImages.txt"
#test_path =path / "Flickr_Data/Flickr_TextData/Flickr_8k.testImages.txt"

captions = open(captions_path, 'r',encoding='utf-8').read().split("#")
x_train = open(train_path, 'r').read().split("\n")
#x_val = open(val_path, 'r').read().split("\n")
#x_test = open(test_path, 'r').read().split("\n")

C:\Users\Harsh\Desktop\Minor Project\Code\Flickr30k

In [70]:
tokens = {}

for ix in range(len(captions)-1):
    temp = captions[ix].split("#")
    if temp[0] in tokens:
        tokens[temp[0]].append(temp[1][2:])
    else:
        tokens[temp[0]] = [temp[1][2:]]

IndexError: list index out of range

In [71]:
train_dataset = open('temp.txt',mode='wb')
train_dataset.write(b"image_id\tcaptions\n")

18

In [72]:
for img in x_train:
    if img == '':
        continue
    for capt in tokens[img]:
        caption = "<start> "+ capt + " <end>"
        train_dataset.write((img+"\t"+caption+"\n").encode())
        train_dataset.flush()
train_dataset.close()

KeyError: 'image_id\tcaptions'

In [73]:
df = pd.read_csv("descriptions_images.txt", delimiter='\t')
ds = df.values
print(ds.shape)

(0, 2)

In [74]:
df.head()

Empty DataFrame
Columns: [image_id, captions]
Index: []